:root {
    /* Gradient Color */
    --color: rgb(255,163,153);
    --gradient: linear-gradient(90deg, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 0%, rgba(255,77,151,1) 100%);

    /* Neutral Colors */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    /* Fonts */
    --font-primary: 'Raleway', sans-serif;
}

html {
    font-size:62.5%;
}

figure {
    margin: 0;
}

/* h2,
p {
    margin: 0;
} */

body {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: var(--font-primary);
    background-image: url(../assets/images/bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    /* background-image: "../assets/images/bg-desktop.png"; */
}

/* Estilizando la primera card */

.figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    background-color: var(--Very-Dark-Blue);
}

.logo {
    width: 53%;
}

.icons-container {
    display: flex;
    width: 70%;
    justify-content:space-between;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px 90px 10px 10px;
    width: 330px;
    height: 190px;
    background-color: var(--Dark-Blue);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 60%;
}

/* Estilizando la segunda card */

.paragraph{
    text-align: start;
}

.cardtwo-container--bar-progress {
    width: 80%;
    height: 20px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bar-progress {
    width: 72%;
    height: 70%;
    margin-left: 3px;
    background: var(--color);
    background: var(--gradient);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3px;
}

.bar-progress--marker {
    width: 4.7%;
    height: 66%;
    background-color: white;
    border-radius: 10px;
}

.container-progress-gb {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 40px;
}

.cardtwo--card-gb {
    position: absolute;
    background-color: whitesmoke;
    color: var(--Very-Dark-Blue);
    width: 51%;
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -30px;
}

.cardtwo--card-gb h2 {
    font-size: 3.4rem;
    margin: 0;
    height: 40px;
}

.cardtwo--card-gb p {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    height: 10px;
    margin-left: 10px;
    color: rgb(163, 163, 163);
}

.cardtwo-container {
    background-color: var(--Dark-Blue);
    margin-top: 20px;
    margin-bottom: 60px;
    width: 330px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------------------------------------- */

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    background: var(--gradient);
}